# -*- coding: utf-8 -*-
# @Author: saitou
# @Date:   2015-06-06 22:22:30
# @Last Modified by:   saitou
# @Last Modified time: 2015-06-07 01:14:59

driftfile /var/lib/ntp/drift

restrict 127.0.0.1
restrict -6 ::1

server {{ ntpserver }}

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

#
# [EOF]
#
